<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" href="perf.css"/>
<script src='amp-vdom-mixin.js'></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>
<script src="https://rawgithub.com/ebryn/0bbe6639da1166bef3ee/raw/c5f715bbee4200d328065fdb34b0bb49f2d748cf/ember-htmlbars-dont-use-me-anywhere-else.prod.js"></script>
<script src="http://fb.me/react-0.12.1.min.js"></script>

<p>
    This is a fork of <a href="http://jsfiddle.net/jashkenas/CGSd5/" target="_top">jashkenas's Ember/Backbone</a> benchmark to include React. Note that this is just a simple benchmark: you wouldn't be doing this in an actual app.
</p>

<button onclick="runBackbone()">Animate with Backbone</button>
<button onclick="runBackboneAmpVdom()">Animate with BackboneAmpVdom</button>
<button onclick="runEmber()">Animate with Ember+HTMLBars</button>
<button onclick="runReact()">Animate with React</button>
<button onclick="runRawdog()">Animate with nothing</button>
<button onclick="runAmp()">Animate with amp</button>

<p id="timing">&nbsp;</p>
<div id="grid"></div>


<script type="x-template" id="underscore-template">
  <div class="box" id="box-<%= number %>" style="top: <%= top %>px; left: <%= left %>px; background: rgb(0,0,<%= color %>);">
    <input type="text"/>
    <%= content %>
  </div>
</script>
        
<script type="x-template" id="amp-underscore-template">
  <div class="box" id="box-<%= model.number %>" style="{model.style}">
    <input type="text"/>
    <%= model.content %>
  </div>
</script>

<script type="text/x-htmlbars" id="htmlbars-box">
    <div class="box" id="{{number}}" style="{{style}}"> {{content}}</div>
</script>

<script src='perf.js'></script>
<script src='perf-bb-ampvdom.js'></script>
<script src='amp-perf.bundle.js'></script>
